.menu-header {
    background-image: url("../assets/blog-1.jpg");
    color: #ffffff;
}

.contact-header {
    background-image: url("../assets/blog-8.jpg");
    color: #ffffff;
}

.about-header {
    background-image: url("../assets/menu-banner-1.png");
    color: #ffffff;
}

